# This is Git's per-user configuration file.
[user]
	name = Ujstor
	email = astipan@gmail.com
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[safe]
	directory = /home/ujstor/debian-config/mybash
[init]
	defaultBranch = master
[credential]
	helper = cache --timeout=28800
